.App {
  text-align: center;
}

body {
  background-image: url(../images/strange_bullseyes.png);
  height: 500px;
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
}

.imageForm form {
  background-image: url(../images/dark_mosaic.png);
}

.singleImage {
  box-shadow: 2px 2px 2px gray;
}

.singleImage:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
